@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 88%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: top;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.home {
    height: 100vh;
    background: #031540;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    background: #031540;
    border-radius: 10%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}

.home-image img {
    position: relative;
    bottom: 2px;
    max-width: 270px;
}

.home-content {
    min-width: 1250px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: aqua;
    -webkit-text-stroke: .5px #fff;
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

.home-sci a:hover {
    background: aqua;
    color: #fff;
    border-color: aqua;
    box-shadow: 0 0 10px aqua;
}

.btn {
    padding: 12px 35px;
    background: aqua;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px aqua;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}